
<h1>Photo#index</h1>
<p>Find me in app/views/photo/index.html.erb</p>
<!--<% @photos.each do |photo| %>
  <div>
    <div class = "title" id ="<%= photo.title %>">Title: <%= photo.title %></div>
    <div class ="image index"><%= link_to(image_tag("#{photo.url}"), controller: "photo", action: "show", id: "#{photo.id}") %></div>
    <div class = "description">About this photo: <%= photo.description %></div>
  </div>
  <br />
<% end %>

-->
 
<h3 class = "center">These are the weird photos!</h3>
<% Tag.last.photos.each do |p| %>
  <div>
     <div class = "image"><%= image_tag("#{p.url}")%></div>
  </div>

<% end %>


<br />

<h3> Trying for a new display style </h3>

<div class="container">
  <div id="display">
  </div>
  <div id="slider">
    <ul id="thumbnails">
      <% @photos.each do |p| %>
      <li class="nail"><%= image_tag "#{p.url}", class: "thumb crop" %></li>
      <% end %>
    </ul>
  </div>
</div>

<p> center these.  link them so that they show up enlarged above when clicked on.  make a button so that it scrolls through them.  two rows is nice.  </p>
