<div class="contains">
  <div class="holder border">
    <div class="navigation border">
      <ul class="nav">
	<li><%= link_to "Comissions", '#' %></li>
	<li><%= link_to "Profile", pages_about_path %></li>
	<li><%= link_to "Photographs", photo_index_path %></li>
	<li><%= link_to "Contact", pages_contact_path %></li>
      </ul>
    </div>
  </div>
  
  <div class="dropdown border">
    <div class="navigation border">
      <ul class="nav">
	<li><%= link_to "Pictures!", photo_index_path %></li>
	<li><%= link_to "More", photo_index_path %></li>
	<li><%= link_to "Even more", photo_index_path %></li>
      </ul>
    </div>
  </div>
</div>

<div id="bg">
  <% @photos.each do |photo| %>
    <%= image_tag photo.url %>
  <% end %>
</div>
</div>

